{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div>
    <div style="text-align: center; max-width: 700px; margin: 4rem auto;">
        {% if target_user.profile %}
            <img src="{{ target_user.profile.image.url }}" alt="" style="height: 15rem; width: 15rem; border-radius: 10rem; margin-bottom: 3rem; object-fit: cover;">
            <div>
                <h2 style="font-family: 'NanumSquareB'; display: inline-flex;">{{ target_user.profile.nickname }}</h2>
                {% if target_user == user %}
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"><i class="material-icons" style="color: cadetblue;">edit</i></a>
                {% endif %}
            </div>
            <h4 style="margin: 2rem 3rem;">{{ target_user.profile.message }}</h4>
        {% else %}
            {% if target_user == user %}
            <div style="align-items: center;">
                <h2><a href="{% url 'profileapp:create' %}">프로필을 생성해주세요&nbsp;<i class="fa-solid fa-user-pen"></i></a></h2>
            </div>
            <br>
            {% else %}
                <h2>프로필을 설정하지 않은 유저입니다.</h2>
                <br>
            {% endif %}
        {% endif %}
        
        <div class="text-center mb-5">
            <div class="btn btn-sm btn-dark rounded-pill" style="padding: 0.5rem;">
                팔로워 : {{ target_user.followers.all | length }} &nbsp;&nbsp; 팔로우 : {{ target_user.followings.all | length }}
            </div>
            <br><br>
            <div>
                {% if user.is_authenticated %}
                    {% if user != target_user %}
                        {% if user in target_user.followers.all %}
                            <a href="{% url 'accountapp:follow' %}?user_pk={{ target_user.pk }}" class="btn btn-sm btn-danger rounded-pill">팔로우 취소</a>
                        {% else %}
                            <a href="{% url 'accountapp:follow' %}?user_pk={{ target_user.pk }}" class="btn btn-sm btn-primary rounded-pill">팔로우</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if user == target_user %}
        <div style="display: inline-block; vertical-align: middle;">
            <a class="fw-bold" style="margin-right: 1rem;" href="{% url 'accountapp:update' pk=user.pk %}"><span class="btn btn-secondary rounded-pill">개인정보 수정</span></a>
            <a class="fw-bold" style="margin-right: 1rem;" href="{% url 'accountapp:delete' pk=user.pk %}"><span class="btn btn-secondary rounded-pill">아이디 삭제</span></a>
            <!-- <a class="fw-bold" style="margin-right: 1rem;" href="{% url 'projectapp:list' %}"><span class="btn btn-secondary rounded-pill">핀 리스트</span></a> -->
            <a class="fw-bold" href="{% url 'subscribeapp:list' %}"><span class="btn btn-secondary rounded-pill">구독 리스트</span></a>
        </div>
        {% endif %}
        <br>
    </div>
    <div style="clear: both;">
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>
</div>
{% endblock %}