{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

{% if form.errors %}
<p class="text-center">아이디와 비밀번호를 확인해 주세요.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>이미 로그인 상태입니다.</p>
    {% endif %}
{% endif %}

<div style="text-align: center; max-width: 500px; margin: 4rem auto;">
    <div>
        <h4>로그인</h4>
    </div>
    <div>
        <form action="{% url 'accountapp:login' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-dark rounded-pill col-3 mt-3"> 
        </form>
    </div>
</div>


{% endblock %}