{% load django_bootstrap5 %}

{% block content %}

    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <form action="{% url 'commentapp:create' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if user.is_authenticated %}
                <input type="submit" class="btn btn-dark rounded-pill col-3 mt-3">
            {% else %}
                <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="btn btn-dark rounded-pill col-3 mt-3">
                    로그인
                </a>
            {% endif %}
            <!-- 브라우저에서 조작이 가능한 형태 
                 따라서 어떻게 보안을 유지할 것인지에 대한 생각을 해야한다. -->
            <input type="hidden" name="article_pk" value="{{ article.pk }}">

        </form>
    </div>

{% endblock %}