{% load django_bootstrap5 %}

<div style="text-align: center; padding: 1rem;">
    {% if user.is_authenticated %}
    <form action="{% url 'commentapp:create' %}" method="post">
        {% csrf_token %}
        <h6 style="font-size: 0.8rem;">댓글</h6>
        {% bootstrap_form form show_label=False %}
        <input type="submit" class="btn btn-dark rounded-pill col-3 mt-3">
    {% else %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="btn btn-dark rounded-pill col-3 mt-3">
            로그인
        </a>
    {% endif %}
    <input type="hidden" name="article_pk" value="{{ article.pk }}">
    <input type="hidden" name="parent_comment_id" value="{{ comment.id }}">
    </form>
</div>

<script>
    var editor = new MediumEditor('.editable', {
        placeholder: {
        /* This example includes the default options for placeholder,
           if nothing is passed this is what it used */
        text: '글씨를 드래그 해보세요!',
        hideOnClick: true
        },
        autoLink: true
    });
</script>