<div style="border: 0.1rem solid; text-align: left; padding: 5%; margin: 1rem 0; border-radius: 1rem;
            border-color: #bbb;">
    <div>
        <strong>
            <img src="{{ comment.writer.profile.image.url }}" alt="" style="height: 2rem; width: 2rem; border-radius: 10rem; object-fit: cover; vertical-align: middle;">
            &nbsp;
            {{ comment.writer.profile.nickname }}
        </strong>
        &nbsp;&nbsp;&nbsp;
        {{ comment.created_at | date:"Y-m-d h:m:s" }}
    </div>
    <div style="margin: 1rem 0;">
        {{ comment.content | safe }}
    </div>
    {% if comment.writer == user %}
    <div style="text-align: right;">
        <a href="{% url 'commentapp:update' pk=comment.pk %}" class="btn btn-primary rounded-pill">수정</a>
        <a href="{% url 'commentapp:delete' pk=comment.pk %}" class="btn btn-danger rounded-pill">삭제</a>
    </div>
    {% endif %}
</div>
<div>
{% if answer.reply_set.count > 0 %}
    <div class="mt-3">
    {% for comment in comment.reply_set.all %}<!--댓글객체에서 대댓글 객체를 뽑아낸다.-->
        <div class="comment py-2 text-muted">
            <span style="white-space: pre-line;">{{ comment.content }}</span>
            <span>
                - {{ comment.author }}, {{ comment.create_date }}
                {% if comment.modify_date %}
                (수정:{{ comment.modify_date }})
                {% endif %}
            </span>
            {% if request.user == comment.author %}
            <a href="{% url 'commentapp:update' pk=comment.pk %}" class="small">수정</a>,
            <a href="#" class="small delete" 
               data-uri="{% url 'commentapp:delete' pk=comment.pk %}">삭제</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% endif %}
    <div>
        <a href="{% url 'commentapp:reply' pk=comment.pk  %}" 
           class="small"><small>댓글 추가 ..</small></a>
    </div>
</div>