{% load static %}

<div style="text-align: left;">
    <div>
        <strong>
            <img src="{{ comment.writer.profile.image.url }}" alt="" style="height: 2rem; width: 2rem; border-radius: 10rem; object-fit: cover; vertical-align: middle;">
            &nbsp;
            {{ comment.writer.profile.nickname }}
        </strong>
        {% if comment.parent_comment.writer %} to <strong>{{ comment.parent_comment.writer.profile.nickname }}</strong> {% endif %}&nbsp;
        <small class="text-muted">
        {% if comment.created_at != comment.updated_at %}
            {{ comment.updated_at | date:"Y-m-d H:m:s" }}
        {% else %}
            {{ comment.created_at | date:"Y-m-d H:m:s" }}
        {% endif %}
        </small>
        {% if comment.writer == user %}
            <a href="{% url 'commentapp:update' pk=comment.pk %}" class="btn btn-sm rounded-pill" style="font-size: 0.7rem;">수정</a>
            <a href="{% url 'commentapp:delete' pk=comment.pk %}" class="btn btn-sm rounded-pill" style="font-size: 0.7rem;">삭제</a>
        {% endif %}
    </div>
    <div style="margin: 1rem 0; font-size: 0.9rem;">
        <p>{{ comment.content | safe }}</p>
    </div>
    <div style="text-align: right;">
        <button class="btn btn-sm rounded-pill" type="button" onclick="handleReply({{ comment.id }})" style="font-size: 0.7rem;">대댓글</button>
        <div id="reply-form-container-{{ comment.id }}" style="display: none;">
            <button class="btn btn-sm rounded-pill" type="button" onclick="handleCancel({{ comment.id }})" style="font-size: 0.7rem;">취소</button>
            {% include 'commentapp/create.html' with article=target_article comment=comment %}
        </div>
    </div>
    <div style="padding: 0 5%;">
        {% for comment in comment.get_comments %}
            {% include 'commentapp/detail.html' with comment=comment %}
        {% endfor %}
    </div>
</div>

<!-- COMMENT JS -->
<script src="{% static 'js/comment.js'%}"></script>