{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .container {
        padding-top: 2rem;
        margin: 0, auto;
        display: flex;
    }

    .container a {
        width: 45%;
        max-width: 250px;
        padding: 0 1rem;
    }

    .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }
</style>

{% if project_list %}
    <div class="container" >
        {% for project in project_list %}
        <a href="{% url 'projectapp:detail' pk=project.pk %}">
            {% include 'snippets/card_project.html' with project=project %}
        </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="text-center">
        <h1>아직 핀 카테고리가 없습니다.</h1>
    </div>
{% endif %}

{% include 'snippets/pagination.html' with page_obj=page_obj %}

{% endblock %}