.minirest_logo {
    font-family: 'The Nautigal', cursive;
}


.minirest_header {
    text-align: center;
    margin: 2rem 0;
}


.minirest_footer {
    text-align: center;
    margin-top: 2rem;
}


.minirest_footer_button {
    font-size: .9rem;
}


@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}


a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}