<!-- div:가능한 폭을 모두 가져가는 태그-->
<!-- margin 두 값중 앞은 상하, 뒤는 좌우 -->
<div class="minirest_header">
    <div>
        <h1 class="minirest_logo">
            <a href="{% url 'articleapp:list' %}">
                Minirest
            </a>
        </h1>
    </div>
    <div class="minirest_header_navbar">
        <a href="{% url 'articleapp:list' %}" class="minirest_header_nav">
            <span>전체게시물</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="minirest_header_nav">
            <span>모아보기</span>
        </a>
        <a href="{% url 'subscribeapp:list' %}" class="minirest_header_nav">
            <span>구독</span>
        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="minirest_header_nav">
            <span>로그인</span>
        </a>
        <a href="{% url 'accountapp:create' %}" class="minirest_header_nav">
            <span>회원가입</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="minirest_header_nav">
            <span>마이페이지</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="minirest_header_nav">
            <span>로그아웃</span>
        </a>
        {% endif %}
    </div>
</div>