{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div style="display: flex; text-align: center; font-family: 'NanumSquareB';">
    <div style="margin: 4rem 1rem; max-width: 1200px; margin: 0 auto;">
        <div style="max-width: 500px; float: left; padding: 1rem 1rem;">
            <img src="{{ target_article.image.url }}" alt="" style="width: 90%; height: auto; border-radius: 3rem 0 0 3rem; object-fit: fill;">
        </div>
        <div class="text-start" style="width: 500px; float: left; padding: 1rem 4rem; align-items: center;">
            <h1 style="font-family: 'NanumSquareEB'">{{ target_article.title }}</h1><br>
            <div>
                <img src="{{ target_article.writer.profile.image.url }}" onerror="this.src='https://cdn-icons-png.flaticon.com/512/75/75519.png'" alt="Unknown" style="height: 3.5rem; width: 3.5rem; border-radius: 10rem; object-fit: cover; margin-right: 0.3rem;">
                {% if target_article.writer.profile.nickname %}
                    <a href="{% url 'accountapp:detail' pk=target_article.writer.pk %}" style="font-size: 1.1rem;">{{ target_article.writer.profile.nickname }}</a>
                {% else %}
                    <a href="{% url 'accountapp:detail' pk=target_article.writer.pk %}" style="font-size: 1.1rem;">{{ target_article.writer.email}}</a>
                {% endif %}
            </div><br>
            <div>{{ target_article.content | safe }}</div><br>
            <div></div>
            <div style="text-align: left; font-size: 1rem;">
                <a href="{% url 'articleapp:like' pk=target_article.pk %}"><i style="color: red;" class="fa-solid fa-heart"></i></a>
                <span style="font-size: 1rem;">
                    {{ target_article.liked_user.count }}
                </span>
            </div>
            <!-- TAGGIT PART -->
            <div style="font-size: 0.9rem;">
                <i class="fas fa-tags" aria-hidden="true"></i>&nbsp;태그 :&nbsp;
                {% load taggit_templatetags2_tags %}
                {% get_tags_for_object object as "tags" %}
                {% for tag in tags %}
                    <a href="{% url 'articleapp:tagged_object_list' tag.name %}" class="btn btn-sm rounded-pill" style="background-color: lightgrey; font-size: 0.7rem;">
                        {{ tag.name }}
                    </a>
                {% endfor %}
                <!-- &emsp;
                <a href="{% url 'articleapp:tag_cloud' %}">
                    <button class="btn btn-light btn-sm rounded-pill">tagcloud</button>
                </a> -->
            </div><br>
            <div style="float: right;">
                {% if target_article.writer == user %}
                    <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-dark btn-sm rounded-pill" style="font-size: 0.7rem;">수정</a>
                    <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger btn-sm rounded-pill" style="font-size: 0.7rem;">삭제</a>
                {% endif %}
            </div>
            <div style="text-align: left; margin: 3rem 0;">
                <a id="commentToggle" type="button" onclick="openCloseToc()">
                    <div>
                        <span>댓글 {{ target_article.comment.count }}개</span>
                        <span id="commentSign" style="font-weight: bolder;">∨</span>
                    </div>
                </a>
                <br><br>
                <div id="commentList" style="display: block;">
                    {% if not target_article.comment.all %}
                        <h6>댓글이 없습니다.</h6>
                    {% else %}
                        {% for comment in target_article.comment.all %}
                            {% if not comment.parent_comment_id %}
                                {% include 'commentapp/detail.html' with comment=comment %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% include 'commentapp/create.html' with article=target_article %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openCloseToc() {
        if(document.getElementById('commentList').style.display === 'block') {
            document.getElementById('commentList').style.display = 'none';
            document.getElementById('commentSign').textContent = '>';
        } else {
            document.getElementById('commentList').style.display = 'block';
            document.getElementById('commentSign').textContent = '∨';
        }
    }
</script>

{% endblock %}