{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<div style="text-align: center;">
    <div style="margin: 4rem; max-width: 1200px; height: 761px; margin: 0 auto;">
        <div style="display: flex; width: 510px; height: 100%;  float: left;">
            <img src="{{ target_article.image.url }}" alt="" style="border: 1rem; border-radius: 3rem 0 0 3rem; max-width: 100%; max-height: 100%; object-fit: fill;">
        </div>
        <div style="width: 10%;"></div>
        <div class="text-start" style="width: 500px; height: 400px; padding-left: 5px; float: left;">
            <h1>{{ target_article.title }}</h1>
            <div style="text-align: left; font-size: 1rem;">
                <a href="{% url 'articleapp:like' pk=target_article.pk %}">
                    <i style="vertical-align: middle; font-size: 1.2rem; color: red;" class="material-icons">favorite</i>
                </a>
                <span style="font-size: 0.8rem;">
                    {{ target_article.liked_user.first }} 님 포함 {{ target_article.liked_user.count }}명이 이 게시물을 좋아합니다.
                </span>
            </div><br>
            <div style="float: inline-start;">
                <img src="{{ target_article.writer.profile.image.url }}" alt="" style="height: 4rem; width: 4rem; border-radius: 10rem; object-fit: cover;  vertical-align: middle;">
                {{ target_article.writer.profile.nickname }}
            </div><br>
            <!-- TAGGIT PART -->
            <div>
                <i class="fas fa-tags" aria-hidden="true"></i>&nbsp;태그:
                {% load taggit_templatetags2_tags %}
                {% get_tags_for_object object as "tags" %}
                {% for tag in tags %}
                    <a href="{% url 'articleapp:tagged_object_list' tag.name %}" class="btn btn-light btn-sm rounded-pill">
                        {{ tag.name }}
                    </a>
                {% endfor %}
                <!-- &emsp;
                <a href="{% url 'articleapp:tag_cloud' %}">
                    <button class="btn btn-light btn-sm rounded-pill">tagcloud</button>
                </a> -->
            </div><br>
            <div>{{ target_article.content | safe }}</div><br>
            <div style="float: right;">
                {% if target_article.writer == user %}
                <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-dark btn-sm rounded-pill">수정</a>
                <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger btn-sm rounded-pill">삭제</a>
                {% endif %}
            </div>
            <div>
                {% with target_article.comment.count as total_comments %}
                    <h5 class="mt-5"> {{ total_comments }} comment{{ total_comments | pluralize }}</h5>
                {% endwith %}
                {% if not target_article.comment.all %}
                    아직 댓글이 없습니다.
                {% else %}
                    {% for comment in target_article.comment.all %}
                        {% if not comment.parent_comment_id %}
                            {% include 'commentapp/detail.html' with comment=comment %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% include 'commentapp/create.html' with article=target_article %}
            </div>
        </div>
    </div>
</div>
{% endblock %}